@orange: #fba419;
@blanc: white;
@noir: #161616;
@lato: 'Lato', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: @lato;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    color: @blanc;
}

p {
    font-size: 18px;
    color: @blanc;
}

span {
    color: @orange;
}

a.nav-link, .actions {
    color: @blanc;
    font-size: 18px;
    text-decoration: none;
    margin-right: 20px;
}

.actions i {
    margin-left: 20px ;
}

a {
    color: @blanc;
    background-color: @orange;
    padding: 8px;
    border-radius: 15px;
    text-decoration: none;

}

.container-fluid {
    background-image: url('images/bg-hero-2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}