<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste d'articles - Design épuré</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>

    <header>
        Mon Blog Technique
    </header>

    <div class="container">
        <h1 class="page-title">Articles Récents</h1>

        <div class="grid">
            {%ARTICLES_LIST%}
        </div>
    </div>

    <footer>
        &copy; 2024 Mon Blog Technique - Tous droits réservés.
    </footer>

</body>

</html>